<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members"> {{ member }}</li>
    </ul>
  <div class="add-members-container">
    <input
      #addMemberInput
      type="text"
      placeholder="Name"
      (input)="onInput(addMemberInput.value)"
      [value]="newMemberName"
      >
    <button (click)="addMember()">Add</button>
  </div>
  <div class="input-container">
    <input
      #numberOfTeamsInput 
      type="number" 
      placeholder="# number of teams"
      (input)="onNumberOfTeamsInput(numberOfTeamsInput.value)"
      [value]="numberOfTeams"
      >
    <button (click)="generateTeams()">Generate</button>
  </div>
  <p *ngIf="errorMessage" class="error-msg"> {{errorMessage}} </p>
  </div>
  <div *ngIf="teams.length" class="teams-container">
    <team *ngFor="let team of teams; let i = index; " [team]="team" [index]="i"></team>
  </div>
</div>
